{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-5">
    <div class="content-section">
      <form method="POST" action="/add_user">
        <label>name</label><br>
        <input type="text" class="form-control" name="username"><br>
      <label>Email</label><br>
      <input type="email" class="form-control" name="useremail"><br>
      <label>passcode</label><br>
      <input type="password" class="form-control" name="userpassword"><br>
      <label>phone number</label><br>
      <input type="tel" class="form-control" name="userphone"><br><br>
      <input type="submit" class="btn btn-primary btn-block" value="Login">
    
    
    
    
    
    </form>
      <div class="border-top pt-3">
        
          
      </div>
    </div>
  </div>
</div>
{% endblock content %}
